/* CABEÇALHO */
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    /*Acresdito que essa função é opcional por que o cabecçalho está agindo do mesmo jeito com e e sem*/
}

.cabecalho__pesquisar__item {
    display: none;
}


/* Seção superior */
.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    /*Essa função faz com que o texto não quebre dento do espaço*/
    overflow: scroll;
    /*Escrolar os intems nesse caso na lateral*/
    gap: 15px
}

/* VIDEOS */
.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.videos__item {
    width:280px;
    height: 303px;
    flex-grow: 1;
}

/* Aside menu */
.menu__container {
    position: fixed;
    bottom: 0;
    height: 76px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
}

.menu__lista li {
    align-self: center;
    padding: 20px 0 20px 0;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px
}

/* RODAPÉ */
.rodape__container {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    /*ShortHand*/
}

/* RESPONSIVO */
@media(min-width: 834px) {

    /* CABEÇALHO */
    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */
    .rodape__container {
        justify-content: space-between;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px
    }

    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px
    }

}

@media(min-width: 1400px) {
    .menu__container {
        width: 239px;
        overflow: scroll;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__itens {
        flex-direction: row;
        align-items: center;
        gap: 15px
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }

    .menu__lista:nth-child(4){
        .jogos{
            order: 2;
        }
        .filmes {
            order: 1;
        }
        .premium{
            order: 0;
        }
        .maispagina{
            order: 3;
        }
    }
}